* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1.4;
}
h1 {
    color: #3067ff;
    margin-bottom: 15px;
    text-align: center;
}
input[type=text] {
    border: 1px solid #3067ff;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    height: 45px;
    border-radius: 5px;
}
button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
li {
    list-style: none;
}
label {
    cursor: pointer;
}
.todo-container {
    width: calc(100% - 40px);
    max-width: 520px;
    border: 1px solid #edf4ff;
    margin: 80px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(8, 34, 83, 0.1);
    border-radius: 14px;
}
.todo-container .input-wrap { 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.todo-container .text-box {
    width: calc(100% - 55px);
}
.todo-container .input-wrap .add-item {
    width: 45px;
    height: 45px;
    background-color: #3067ff;
    color: #fff;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
}
.item-list {
    margin-top: 35px;
    max-height: 210px;
    overflow: auto;
}
.item-list::-webkit-scrollbar { width: 6px; height: 10px; }
.item-list::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; }
.item-list::-webkit-scrollbar-track { background: #f4f4f4; border-radius: 10px; }
.item-list .item {
    border-top: 1px dashed #ddd;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.item-list .item:last-child {
    border-bottom: 1px dashed #ddd;
}
.item-list .check-item {
    width: calc(100% - 55px);
}
.item-list .check-item input[type=checkbox] {
    display: none;
}
.item-list .check-item label {
    background: url(./img/check.svg) no-repeat left center / 24px;
    vertical-align: middle;
    padding-left: 30px;
    display: inline-block;
    width: 100%;
}
.item-list .check-item input[type=checkbox]:checked + label {
    background-image: url(./img/check_fill.svg);
    color: #999;
    text-decoration: line-through;
}
.item-list .item-delete {
    width: 45px;
    height: 35px;
    background: none;
    border: 1px solid #d3dce9;
    color: rgb(255, 122, 133);
}